 .u-section-1 {
  background-image: url("images/3d757bc10127cf0e9adbc146264dd12cc0101caee0d233c8304cb1ca611d3155c5f663aa562a83d9eda5f7ff34c7be7892a90c70422f9877ecf1c1_1280.jpg");
  background-position: 50% 50%;
  background-size: auto 120%;
}

.u-section-1 .u-sheet-1 {
  min-height: 3025px;
}

.u-section-1 .u-image-1 {
  min-height: 2875px;
  width: 1182px;
  box-shadow: 5px 5px 37px 0 rgba(0,0,0,0.15);
  height: auto;
  background-image: linear-gradient(to bottom, rgba(229, 229, 229, 1), rgba(229, 229, 229, 1)), url("images/image106.png");
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  margin: 60px -21px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  letter-spacing: normal;
  font-style: normal;
  text-transform: none;
  font-weight: 700;
  font-family: Lobster, display;
  margin: 68px auto 0 33px;
}

.u-section-1 .u-image-2 {
  width: 217px;
  height: 121px;
  margin: -256px 60px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 257px;
  height: 171px;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: 22px auto 0 91px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -161px 68px 0 391px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 103px 435px 0 58px;
}

.u-section-1 .u-image-4 {
  width: 383px;
  height: 213px;
  margin: -1001px 26px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 394px;
  height: 275px;
  margin: 146px 21px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 394px;
  height: 250px;
  margin: 91px 21px 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 69px auto 0 284px;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 3px;
  align-self: center;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 36px auto 0 147px;
  padding: 50px 30px 51px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 39px auto 0 68px;
}

.u-section-1 .u-video-1 {
  width: 857px;
  height: 491px;
  margin: 43px auto 0 58px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2494px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 217px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 251px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 1357px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -12px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 83px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 36px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 32px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1910px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 31px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -279px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 92px;
    margin-left: 218px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 50px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 1px;
  }

  .u-section-1 .u-video-1 {
    width: 720px;
    height: 413px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1433px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: -1972px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 107px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 60px;
    margin-left: 164px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 51px;
  }

  .u-section-1 .u-video-1 {
    width: 540px;
    height: 310px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 85.08% 57.15%;
    background-size: auto 105%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-3 {
    margin-left: 83px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 189px;
    margin-top: 984px;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 237px;
    margin-top: 106px;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 216px;
    margin-top: 203px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 143px;
    margin-left: 103px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 53px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 40px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    height: 195px;
  }
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-section-1 .u-btn-2 {
  transform: rotate(0deg) scale(1.1) translateX(0px) translateY(0px) !important;
}